@unocss all;

:root {
  --navbar-height: 80px;
  @apply bg-[#0b0b0b];
}

@media (min-width: 768px) {
  :root {
    --navbar-height: 96px;
  }
}

html {
  overflow-x: hidden;
  scroll-behavior: smooth;
}

@utility container {
  margin: 0 auto;
  padding: 0 2rem;
}

@theme {
  --shadow-layer: 0 35px 60px -15px rgba(0, 0, 0, 0.3);

  --color-black: #0b0b0b;
  --color-white: #fff;
  --color-primary: #eb110A;

  --default-transition-duration: 280ms;
}

/* Lenis recommended css https://github.com/darkroomengineering/lenis/blob/main/README.md#recommended-css */
html.lenis,
html.lenis body {
  height: auto;
}

.lenis:not(.lenis-autoToggle).lenis-stopped {
  overflow: clip;
}

.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}

.lenis.lenis-smooth iframe {
  pointer-events: none;
}

.lenis.lenis-autoToggle {
  transition-property: overflow;
  transition-duration: 1ms;
  transition-behavior: allow-discrete;
}

/* Disable default cursor */
* {
  cursor: none;
}