@import "tailwindcss";

@plugin "@tailwindcss/typography";

html {
  @apply bg-[#0b0b0b];
}

@utility container {
  margin: 0 1.25rem;
}

@theme {
  --shadow-layer: 0 35px 60px -15px rgba(0, 0, 0, 0.3);

  --color-black: #0b0b0b;
  --color-white: #fff;
  --color-primary: #eb110A;

  --font-display: var(--font-tusker);
  --font-sans: var(--font-inter);
  --font-mono: var(--font-jetbrains-mono);
  /**
    TODO: move this fontSize definition into tailwind.config.ts
  **/
  --text-h1: 150px;
  --text-h1-font-family: var(--font-tusker);
  --text-h1-font-weight: 700;

  --default-transition-duration: 250ms;
}
