@import "tailwindcss";
@import 'lenis/dist/lenis.css';
@plugin "@tailwindcss/typography";

:root {
  --navbar-height: 80px;
}

@media (min-width: 768px) {
  :root {
    --navbar-height: 96px;
  }
}

html {
  /**
  * Position relative to fix react warning https://github.com/motiondivision/motion/issues/1853#issuecomment-2122841818
  **/
  position: relative;
  @apply bg-black;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

@utility container {
  margin: 0 auto;
  padding: 0 2rem;
}

/* TODO: add tech being used in every projects */
@theme {
  --color-black: #0D0E12;
  --color-white: #ffffff;
  --color-primary: #eb110A;
  --color-secondary: #599BD1;

  --font-display: var(--font-tusker);
  --font-sans: var(--font-inter);
  --font-mono: var(--font-jetbrains-mono);

  --default-transition-duration: 280ms;
}

/* Disable default cursor */
* {
  cursor: none;
}

